################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GameOfDronesApi/FileContentIndex/41c35e76-eb05-4ebf-bf86-3d227d772c99.vsidx
